*{
    text-decoration: none;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}

.topo-pousada{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #fff;
}
.topo-nome{
    color:  #083750;
    text-transform: uppercase;
}
.topo-nome span{
    color:  #5fb6e5;
}
.topo-pagina a{
    text-transform: uppercase;
    margin-left: 20px;
}
