*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}
.container{
    max-width: 1024px;
}

.topo {
    position: fixed;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #d5d5d5;
}

.topo .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
}
.link-logotipo{
    color:  #083750;
    text-transform: uppercase;
}
.link-logotipo span{
    color:  #5fb6e5;
}
.link-topo{
    text-transform: uppercase;
    line-height: 18px;
    padding: 0px 15px 10px 15px;
    color: #3d3d3d;
}
.imagem-pousada{
    width: 1024px;
}
.titulo-site{
    background-image: url('assets/img-fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;    
}
.titulo-site-descricao{
    color: #fff;
    font-size: 18px;
    background-color: #0a9077b3;
    border: 1px solid;
    padding: 0 20px;
    text-align: center;
    line-height: 80px;
}

.secao-container {
    text-align: center;
    line-height: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 300;
}
.secao-container h2{
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
}
.quartos {
    display: flex;
    justify-content: space-between;
}
.quarto{
    margin-right: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #00836a;
    color: #3d3d3d
}
.quarto a {
    color: #333;
}
.quarto p{
    text-align: center;
}

.tamanho-maximo-container{
    max-width: 1024px;
    margin: 0;
}